*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
    outline: none;
}
body{
    background: rgb(11, 11, 11);
    scroll-behavior: smooth;
}
/* =========================== Container ============================== */

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)),url(images/forest-5855196_1920.jpg);
    background-size: cover;
    background-position: center;
}

/* =========================== Header ============================== */
.header{
    width: 100%;
    height: 80px;
    padding: 20px 40px;
}
.header .logo{
    float: left;
    font-size: 35px;
    color: #ddd;
}
.header .logo span{
    color: crimson;
}
.header .nav{
    float: right;
    padding: 15px 0;
}
.header .nav a{
    font-size: 18px;
    color: #ddd;
    margin-right: 20px;
    font-weight: bold;
}
.header label{
    margin-right: 20px;
    position: relative;
}
.header label img{
    position: absolute;
    left: 15px;
    padding-top: 12px;
    filter: invert(1);
    width: 25px;
    cursor: pointer;
}
.header label input{
    width: 360px;
    height: 50px;
    font-size: 18px;
    padding-left: 65px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #ddd;
    background-color: transparent;
}
.header label ::placeholder{
    color: #ddd;
}
.header .input{
    float: right;
}
.header a.register{
    background-color: #ddd;
    padding: 10px;
    color: crimson;
    border-radius: 6px;
    border: 1px solid #ddd;
    transition: .4s ease;
}
.header .nav a.register:hover{
    background-color: transparent;
    color: #ddd;
}
#menu{
    position: absolute;
    background-color: #ddd;
    padding: 5px;
    border-radius: 3px;
    left: 15px;
    z-index: 2;
    visibility: hidden;
    cursor: pointer;
}
#checkbox{
    position: absolute;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    left: 15px;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}
/* media queries */
@media screen and (max-width: 870px){
    .input{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        padding:  80px 10px;
        width: 60%;
        background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)),url(images/forest-5855196_1920.jpg);
        background-size: cover;
        background-position: center;
        transition: .4s ease;
    }
    .header label input{
        width: 100%;
        font-size: 16px;
        padding-left: 40px;
        margin: auto;
    }
    .header label img{
        width: 20px;
        padding-top: 15px;
        left: 10px;
    }
    .header .logo{
        margin-left: 20px;
    }
    .header .nav a{
        font-size: 16px;
        color: #ddd;
        margin-right: 10px;
        font-weight: bold;
    }
    .header a.register{
        color: crimson;
    }
    #menu{
        visibility: visible;
    }
    #checkbox:checked ~ .input{
        display: block;
        transition: .4s ease;
    }
}
/* =========================== End Header ============================== */

/* =========================== Home ============================== */
.home{
    margin-top: 12%;
    padding-left: 40px;
}
.home h1{
    font-size: 50px;
    color: #ddd;
    margin-bottom: 60px;
}
.home p{
    font-size: 25px;
    color: #ddd;
    margin-bottom: 30px;
}
.home a{
    font-size: 22px;
    color: #ddd;
    background-color: crimson;
    border: 2px solid crimson;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: .4s ease;
}
.home a:hover{
    background-color: transparent;
    color: #ddd;
}
/* media queries */
@media (max-width: 1024px){
    .home{
        margin-top: 15%;
        padding-left: 30px;
    }
}
@media (max-width: 870px){
    .home{
        margin-top: 18%;
        padding-left: 30px;
    }
}
@media (max-width: 700px){
    .home{
        margin-top: 25%;
        padding-left: 0;
    }
    .home h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }
    .home p{
        text-align: center;
        margin-bottom: 50px;
    }
    .home a{
        margin-left: calc(50% - 100px);
    }
}
@media (max-width: 590px){
    .home{
        margin-top: 30%;
    }
    .home h1{
        font-size: 37px;
        text-align: center;
        margin-bottom: 40px;
    }
}
/* =========================== End Home ============================== */

/* =========================== End Container ============================== */

/* =========================== Footer ============================== */
.footer{
    padding: 20px;
    width: 100%;
    padding-left: 40px;
    clear: both;
}
.footer .box{
    float: left;
    width: 45%;
    margin-bottom: 40px;
}
.footer .box .title{
    color: #ddd;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 27px;
    width: 40%;
}
.footer .box .title span{
    color: crimson;
}
.footer .box p{
    color: #ddd;
    font-size: 18px;
}
.footer .box img{
    width: 40px;
    margin-right: 10px;
    filter: invert(1);
    cursor: pointer;
}
.footer .Last{
    width: 100%;
    clear: both;
    text-align: center;
    border-top: 1px solid #ddd;
}
.footer .Last h2{
    color: #ddd;
    padding: 28px;
}
.footer .Last h2 span{
    color: crimson;
}
/* media queries */
@media (max-width: 930px){
    
.footer .box .title{
    color: #ddd;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 20px;
    width: 40%;
}
.footer{
    padding-left: 20px;
}
}
@media (max-width: 700px){
    
    .footer .box{
        float: left;
        width: 100%;
        margin-bottom: 40px;
    }
}
/* =========================== End Footer ============================== */

/* =========================== End Index ============================== */

/* =========================== WatchFilms ============================== */
.container.film{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url(images/backgroundfilm-5.webp);
    background-size: cover;
    background-position: top;
    clear: both;
}
.container.film .watchfilm{
    margin-top: 5%;
    padding-left:80px;
    clear: both;
}
.container.film .watchfilm h1{
    font-size: 70px;
    color: #ddd;
    margin-bottom: 10px;
}
.container.film .watchfilm p{
    font-size: 30px;
    color: #ddd;
}
.container.film .watchfilm .stars{
    margin-top: 20px;
}
.container.film .watchfilm .stars img{
    width: 48px;
    cursor: pointer;
}
.container.film .watchfilm .action{
    margin-top: 20px;
}
.container.film .watchfilm .des{
    font-size: 25px;
    margin: 10px 0;
    color:gray;
    word-spacing: 10px;
}
.container.film .watchfilm .action a img{
    width: 67px;
    padding: 18px;
    border-radius: 3px;
    margin-right: -6px;
    background-color: rgb(236, 10, 55);
}
.container.film .watchfilm .action a .first-image{
    background-color: rgb(202, 106, 125);
}
/* media queries */
@media (max-width: 1180px){
    .container.film .watchfilm{
        margin-top: 8%;
        padding-left:40px;
    }
    .container.film .watchfilm h1{
        font-size: 55px;
    }
    .container.film .watchfilm p{
        font-size: 25px;
    }
    .container.film .watchfilm .stars img{
        width: 40px;
    }
    .container.film .watchfilm .des{
        font-size: 18px;
        word-spacing: 8px;
    }
    .container.film .watchfilm .action a img{
        width: 60px;
        padding: 18px;
        border-radius: 3px;
        margin-right: -6px;
        background-color: rgb(236, 10, 55);
    }
}
@media screen and (max-width: 870px){
    .container.film .watchfilm{
        margin-top: 12%;
        padding-left:20px;
    }
}
@media screen and (max-width: 800px){
    .container.film .watchfilm{
        margin-top: 15%;
        padding-left:20px;
    }
}
@media screen and (max-width: 590px){
    .container.film .watchfilm{
        margin-top: 20%;
        padding-left:20px;
    }
    .container.film .watchfilm h1{
        font-size: 40px;
    }
    .container.film .watchfilm .stars img{
        width: 30px;
    }
    .container.film .watchfilm .action a img{
        width: 55px;
    }
}
/* =========================== End WatchFilms ============================== */

/* =========================== Movies ============================== */
.movies{
    margin-top: 60px;
    width: 100%;
    padding: 10px;
}
.movies .movie{
    float: left;
    width: 15%;
    margin: 0.83%;
}
.movies .movie img{
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
}
.movies .movie h2{
    color: gray;
    margin-top: 5px;
    font-size: 20px;
}
.movies .movie.active{
    margin-top: -30px;
}
.movies .movie.active h2{
    color: #ddd;
}
/* media queries */
@media (max-width: 800px){
    .movies .movie{
        width: 30%;
        margin: 1.66%;
    }
}

/* =========================== End Movies ============================== */

/* =========================== All Movies ============================== */
.all-movies{
    min-height: 100vh;
    width: 100%;
    clear: both;
}
.all-movies .action{
    width: 100%;
    float: left;
}
.all-movies .comedy{
    width: 100%;
    float: left;
}
.all-movies .horror{
    width: 100%;
    float: left;
    margin-bottom: 80px;
}
.all-movies h1{
    font-size: 35px;
    color: #ddd;
    margin: 20px;
}
.all-movies .film-boxes{
    float: left;
    width: 22%;
    margin: 1.5%;
}
.all-movies .film-boxes img{
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
}
.all-movies .film-boxes h2{
    color: #ddd;
    margin-top: 10px;
}
.all-movies .film-boxes p{
    color: gray;
    font-size: 18px;
    margin-top: 10px;
}
/* media queries */
@media (max-width: 800px){
    .all-movies .film-boxes{
        width: 45%;
        margin: 2.5%;
    }
    .all-movies .film-boxes h2{
        color: #ddd;
        margin-top: 10px;
        font-size: 20px;
    }
}
/* =========================== End All Movies ============================== */